<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Program-1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="demo">
      <p>
        Enter your first name:
        <input type="text" ng-model="fname" />
      </p>
      <p for="fname">
        Enter your last name:
        <input type="text" ng-model="lname" />
      </p>
      <p for="fname">Full-Name: {{fname+ " " +lname}}</p>
    </div>
    <script>
      var app = angular.module("myApp", []);
      app.controller("demo", function ($scope) {
        $scope.fname = "abc";
        $scope.lname = "xyz";
      });
    </script>
  </body>
</html>
