<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="calculatorApp" ng-controller="calculatorCtrl">
        <h2>Simple Calculator</h2>
        <label for="number1">Enter a number:</label>
        <input type="text" id="number1" ng-model="number1" placeholder="Enter a number">
        <br><br>
        <button ng-click="factorial()">Calculate Factorial</button>
        <button ng-click="computeSquare()">Compute Square</button>
        <br><br>
        <label for="result">Result:</label>
        <input type="text" id="result" ng-model="result" readonly>
    </div>
    
    <script>
    var app = angular.module('calculatorApp', []);
    app.controller('calculatorCtrl', function($scope) {
        $scope.result = 0;
    
        $scope.factorial = function() {
            let number = parseInt($scope.number1);
            let factorial = 1;
    
            for (let i = 1; i <= number; i++) {
                factorial *= i;
            }
    
            $scope.result = factorial;
        };
    
        $scope.computeSquare = function() {
            $scope.result = parseInt($scope.number1) * parseInt($scope.number1);
        };
    });
    </script>
</body>
</html>
